body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo-rock {
  width: 40px;
}

.logo-onebitcode {
  width: 200px;
}
