body {
  background-color: #2c3e50;
}

h1 {
  color: white;
}

h3 {
  color: yellow;
}

.Dias-semanais {
  color: white;
}

#barra {
  color: black;
  border: solid 2px black;
  background-color: yellow;
  border-radius: 6px;
}

#cont-segunda {
  color: white;
}

#cont-terça {
  color: white;
}

#astronomy-class {
  color: red;
}

#cont-quarta {
  color: white;
}

#astronomy-class {
  color: red;
}
