* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  gap: 0px 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  background-color: white;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
